<div class="auth-content">
  <div class="benefits">
    <div class="container">
      <h2 class="benefits__title title">Benefits</h2>

      <div class="benefits_blocks">
        <div class="block">
          <img
            class="block__img"
            src="./assets/images/auth/benefit.png"
            alt="benefit" />
          <div class="block__tetx">Your customers are safe with us</div>
        </div>
        <div class="block">
          <img
            class="block__img"
            src="./assets/images/auth/benefit.png"
            alt="benefit" />
          <div class="block__tetx">Add your branding to look like you</div>
        </div>
        <div class="block">
          <img
            class="block__img"
            src="./assets/images/auth/benefit.png"
            alt="benefit" />
          <div class="block__tetx">Never need to email or call</div>
        </div>
        <div class="block">
          <img
            class="block__img"
            src="./assets/images/auth/benefit.png"
            alt="benefit" />
          <div class="block__tetx">Have full control over shipping</div>
        </div>
        <div class="block">
          <img
            class="block__img"
            src="./assets/images/auth/benefit.png"
            alt="benefit" />
          <div class="block__tetx">Don’t get charged ror kinds</div>
        </div>
        <div class="block">
          <img
            class="block__img"
            src="./assets/images/auth/benefit.png"
            alt="benefit" />
          <div class="block__tetx">Free simple artwork fixes</div>
        </div>
      </div>
    </div>
  </div>

  <div class="what-we-do">
    <div class="container">
      <h2 class="what-we-do__title title">What we can really do for you</h2>

      <div class="what-we-do__blocks">
        <div class="block">
          <div class="block__num">40%</div>
          <div class="block__text">
            Average profit <br />
            margin per order
          </div>
        </div>
        <div class="block">
          <div class="block__num">15%</div>
          <div class="block__text">
            Average increase in <br />
            revenue for resellers
          </div>
        </div>
        <div class="block">
          <div class="block__num">30%</div>
          <div class="block__text">
            Average decrease in <br />
            your production costs
          </div>
        </div>
        <div class="block">
          <div class="block__num">30%</div>
          <div class="block__text">
            Increase in your <br />
            companies bottom line
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="clients">
    <div class="container">
      <h2 class="clients__title title">Partner with the best</h2>

      <div class="swiper-wrap">
        <swiper-container #swiperClients>
          <swiper-slide>
            <img src="./assets/images/auth/logo.png" alt="logo" />
          </swiper-slide>
          <swiper-slide>
            <img src="./assets/images/auth/logo.png" alt="logo" />
          </swiper-slide>
          <swiper-slide>
            <img src="./assets/images/auth/logo.png" alt="logo" />
          </swiper-slide>
          <swiper-slide>
            <img src="./assets/images/auth/logo.png" alt="logo" />
          </swiper-slide>
          <swiper-slide>
            <img src="./assets/images/auth/logo.png" alt="logo" />
          </swiper-slide>
        </swiper-container>
      </div>
    </div>
  </div>

  <div class="faq">
    <div class="container">
      <h2 class="faq__title title">FAQ</h2>

      <app-faq [data]="faqs"></app-faq>
    </div>
  </div>
</div>
