<div class="reset-password">
  <h2 class="auth-title title">Reset password</h2>
  <div class="auth-descr descr">Enter your new password below</div>

  <form
    class="form"
    [formGroup]="form"
    (ngSubmit)="submitForm()"
    autocomplete="off">
    <div class="form_field">
      <app-field
        formControlName="password"
        [control]="form.controls['password']"
        [label]="'Password'"
        [labelColor]="'white'"
        [type]="FIELD_TYPES.Password"
        [placeholder]="'Password'"></app-field>
    </div>

    <div class="form_field">
      <app-field
        formControlName="passwordConfirmation"
        [control]="form.controls['passwordConfirmation']"
        [label]="'Confirm password'"
        [labelColor]="'white'"
        [type]="FIELD_TYPES.Password"
        [placeholder]="'Confirm password'"></app-field>
    </div>

    <div class="submit">
      <app-button
        [buttonConfig]="buttonSubmitConfig"
        [isLoaded]="isLoadedBtn"></app-button>
    </div>
  </form>
</div>
