<div class="modal">
  <div class="modal__title" *ngIf="!data?.productId">
    {{ data.title }}
  </div>

  <div
    class="modal__title-edit"
    [class.edit-mode]="isEditMode"
    *ngIf="data?.productId">
    <input
      #input
      class="input-name"
      type="text"
      [(ngModel)]="productName"
      (keyup.enter)="editName(input.value)"
      [readonly]="!isEditMode" />

    <svg
      width="20"
      height="20"
      viewBox="0 0 20 20"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      *ngIf="!isEditMode"
      (click)="isEditMode = true; input.focus()">
      <path
        d="M11.0495 3.00002L4.2078 10.2417C3.94947 10.5167 3.69947 11.0584 3.64947 11.4334L3.34114 14.1333C3.2328 15.1083 3.9328 15.775 4.89947 15.6084L7.5828 15.15C7.9578 15.0834 8.4828 14.8083 8.74114 14.525L15.5828 7.28335C16.7661 6.03335 17.2995 4.60835 15.4578 2.86668C13.6245 1.14168 12.2328 1.75002 11.0495 3.00002Z"
        stroke="#A3A4BD"
        stroke-miterlimit="10"
        stroke-linecap="round"
        stroke-linejoin="round" />
      <path
        d="M9.90845 4.20801C10.2668 6.50801 12.1334 8.26634 14.4501 8.49967"
        stroke="#A3A4BD"
        stroke-miterlimit="10"
        stroke-linecap="round"
        stroke-linejoin="round" />
      <path
        d="M2.5 18.333H17.5"
        stroke="#A3A4BD"
        stroke-miterlimit="10"
        stroke-linecap="round"
        stroke-linejoin="round" />
    </svg>

    <div class="buttons" *ngIf="isEditMode">
      <div class="btn">
        <app-button
          [buttonConfig]="buttonSaveConfig"
          (clickEvent)="editName(input.value)"></app-button>
      </div>
      <div class="btn">
        <app-button
          [buttonConfig]="buttonCancelConfig"
          (clickEvent)="cancelEddit()"></app-button>
      </div>
    </div>
  </div>

  <app-compose-product
    [jobId]="data.jobId"
    [myProductId]="data.productId"
    [isEditMode]="true"></app-compose-product>

  <div class="modal_buttons">
    <div class="btn" *ngIf="data.productId">
      <app-button
        [buttonConfig]="buttonAddToCartConfig"
        (clickEvent)="addToCart()"></app-button>
    </div>
    <div class="btn">
      <app-button
        [buttonConfig]="buttonCloseConfig"
        (clickEvent)="close()"></app-button>
    </div>
  </div>
</div>
