<div class="cart">
  <div class="grid-container" *ngIf="isLoaded; else loading">
    <ng-container *ngIf="cartData; else emptyCart">
      <div class="grid-container__main">
        <div class="cart-block app-block">
          <h2 class="title-main">Cart</h2>

          <div class="blocks">
            <div class="block" *ngFor="let job of cartData.jobs">
              <div class="block_img">
                <img [src]="job.image" [alt]="job.title" />
              </div>

              <div class="block_main">
                <div class="block__num">Job #{{ job.id }}</div>
                <div class="block__title">{{ job.title }}</div>
                <div class="block_items">
                  <div class="block__item" *ngFor="let item of job.jobDetails">
                    <span>{{ item.title }}:</span> {{ item.value }}
                  </div>
                </div>
              </div>

              <div class="block_end">
                <div class="block_buttons">
                  <div class="button edit" (click)="onEditJob(job.id)"></div>
                  <div class="button trash" (click)="onDeleteJob(job.id)"></div>
                </div>

                <div class="block_price">{{ job.price | currency }}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="delivery">
          <div class="delivery_block app-block">
            <h2 class="title-main">Shipping Method</h2>

            <app-tabs
              [tabs]="shippingMethodTabs"
              [selectedTab]="selectedShippingMethodTab"
              (selectEvent)="onSelectShippingMethod($event)"></app-tabs>
          </div>

          <div
            class="delivery_block app-block packaging"
            *ngIf="isPackagingExist">
            <h2 class="title-main">Packaging Information</h2>
            <div class="descr">{{ packageDetails?.wording }}</div>

            <div class="delivery_options">
              <div
                class="row"
                *ngFor="let row of packageDetails?.availablePackages">
                <div class="row_title">
                  <span>Job #{{ row.jobId }}</span> {{ row.jobTitle }}
                </div>
                <div class="row_options">
                  <div
                    class="option"
                    *ngFor="let option of row.selectablePackages"
                    [class.checked]="false">
                    <app-field
                      [label]="
                        option.title +
                        ' (' +
                        (option.price
                          ? (option.price | currency) +
                            (option.packageType === 'cartons'
                              ? ' per carton'
                              : '')
                          : 'Free') +
                        ')'
                      "
                      [type]="FIELD_TYPES.Radio"
                      [name]="row.jobId + ''"
                      [radioValue]="option.id"
                      [setInputValue]="selectedPackage(option.id)"
                      (inputEvent)="onSelectPackaging($event)"></app-field>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="delivery_block app-block"
            *ngIf="
              cartData.steps.completedSteps.address ||
              cartData.steps.currentStep === DELIVERY_STEPS.Address
            ">
            <h2 class="title-main">Type of Address</h2>
            <div class="descr">
              Surcharges will be passed on if incorrect selection is made after
              delivery
            </div>

            <div class="delivery_options">
              <div
                class="option-card"
                [class.selected]="addressType === type"
                *ngFor="
                  let type of [ADDRESS_TYPE.Residential, ADDRESS_TYPE.Business]
                "
                (click)="onSelectAddress(type)">
                <div class="option-card_img">
                  <img [src]="'./assets/images/no-img.png'" [alt]="type" />
                </div>

                <div class="option-card_content">
                  <div class="option-card__title capitalize">
                    {{ type }} Address
                  </div>
                </div>
              </div>
            </div>

            <div class="field">
              <app-field
                [label]="'Suburb & Postcode'"
                [placeholder]="'Suburb & Postcode'"
                [type]="FIELD_TYPES.SearchByText"
                [isAutocomplete]="false"
                [setInputValue]="compiledAddress"
                (inputEvent)="searchAddress($event)"
                (selectedEvent)="onSelectSuburb($event)"
                [setOptionsBySearch]="listOfAddressString"
                [isNotFound]="isNotFound"></app-field>
            </div>
          </div>

          <div
            class="delivery_block app-block methods"
            *ngIf="
              (!isPickupType && deliveryMethods.length) || isMethodLoading
            ">
            <h2 class="title-main">Delivery Method</h2>

            <ng-container *ngIf="deliveryMethods.length; else methodLoading">
              <div class="radio-options">
                <div class="option-row" *ngFor="let option of deliveryMethods">
                  <div
                    class="option"
                    (click)="onSelectDeliveryMethod(option)"
                    [class.checked]="
                      option.carrierServiceId ===
                      selectedDeliveryMethod.carrierServiceId
                    ">
                    <input
                      class="radio-btn"
                      type="radio"
                      name="delivery-method"
                      [value]="selectedDeliveryMethod.carrierServiceId"
                      [checked]="
                        option.carrierServiceId ===
                        selectedDeliveryMethod.carrierServiceId
                      " />
                    <div class="time">
                      {{ option.totalDays }} - {{ option.totalDays + 1 }} days
                    </div>
                    <div class="name">
                      {{ option.carrierDisplayName }}
                    </div>
                    <div class="service">
                      {{ option.carrierServiceDisplayName }}
                    </div>
                    <div class="price">
                      {{ option.priceDisplay | currency }}
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

            <ng-template #methodLoading>
              <app-loader></app-loader>
            </ng-template>
          </div>
        </div>
      </div>

      <div class="grid-container__sidebar receipt fixed">
        <app-cart-summary [cartData]="cartData" [file]="file">
          <div class="btn">
            <app-button
              [buttonConfig]="buttonCreateConfig"
              (clickEvent)="createQuote()"
              [isLoaded]="!isLoadingCreateBtn"></app-button>
          </div>
          <div class="btn">
            <app-button
              [buttonConfig]="buttonSaveConfig"
              (clickEvent)="saveAsQuote()"
              [isLoaded]="!isLoadingSaveBtn"></app-button>
          </div>
          <div class="btn">
            <app-button
              [buttonConfig]="buttonClearConfig"
              (clickEvent)="clearCart()"></app-button>
          </div>
        </app-cart-summary>
      </div>
    </ng-container>

    <ng-template #emptyCart>
      <div class="empty app-block">
        <img
          class="empty__img"
          src="./assets/images/cart/empty-cart.png"
          alt="empty" />
        <div class="empty__title">The cart is empty</div>
        <div class="empty__text">Add a job to place an order</div>
        <app-button
          [buttonConfig]="buttonEmptyConfig"
          [routerLink]="'/catalog'"></app-button>
      </div>
    </ng-template>
  </div>

  <ng-template #loading>
    <app-loader></app-loader>
  </ng-template>
</div>
