<div class="forgot-password">
  <h2 class="auth-title title">Forgot your password?</h2>
  <div class="auth-descr descr">
    Enter your email address below and we will send you reset link
  </div>

  <form
    class="form"
    [formGroup]="form"
    (ngSubmit)="submitForm()"
    autocomplete="on">
    <div class="form_field">
      <app-field
        formControlName="email"
        [control]="form.controls['email']"
        [label]="'Email'"
        [labelColor]="'white'"
        [type]="FIELD_TYPES.Email"
        [placeholder]="'Email'"></app-field>
    </div>

    <div class="submit">
      <app-button
        [buttonConfig]="buttonResetConfig"
        [isLoaded]="isLoadedBtn"></app-button>
    </div>
  </form>

  <div class="question">
    <app-button
      [buttonConfig]="buttonQuestionConfig"
      [routerLink]="'/authorization/' + AUTHORIZATION.LOGIN"></app-button>
  </div>
</div>
