<!-- <pdf-viewer
  [class]="'artwork-img'"
  [src]="src"
  [original-size]="false"
  [show-all]="false"
  [zoom]="1"
  [zoom-scale]="'page-fit'"
  [render-text]="false"
  [show-borders]="false"
  [rotation]="rotate"
  (on-progress)="onProgress($event)"
  (page-rendered)="isLoaded()"
  style="
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
  "></pdf-viewer> -->

<div *ngIf="isLoading" class="loading-block">
  <div
    class="loading-block__wrap preview"
    *ngIf="previewUrl; else progressBlock">
    <img [src]="previewUrl" alt="pdf" />
  </div>

  <ng-template #progressBlock>
    <div class="loading-block__wrap progress">
      <mat-progress-bar
        mode="determinate"
        [value]="progress"></mat-progress-bar>

      <span class="label">Loaded {{ this.progress }}%</span>
    </div>
  </ng-template>
</div>
