<div class="card" [class.double]="isDoubleCard" [ngClass]="toKebabCase(artwork.status)">
  <div class="card_img">
    <img [src]="artwork.previewUrl" alt="pdf" />
  </div>

  <div class="card_main">
    <span class="main__status status-label" [ngClass]="toKebabCase(artwork.status)">
      {{ artwork.status }}
    </span>
    <div class="main__name">{{ artwork.fileName }}</div>
    <div *ngIf="artwork.id" class="main__btn" (click)="editArtwork()">
      {{ artwork.rejectComment ? 'Fix proof' : 'Show proof' }}
      <img src="./assets/images/icons/edit.svg" alt="edit" />
    </div>

    <div class="warning-block" *ngIf="artwork.rejectComment || artwork.othersErrors">
      <div class="warning-block__title">Warning</div>
      <div class="warning-block__text" [innerHtml]="artwork.rejectComment"></div>
      <div class="warning-block__text" *ngIf="artwork.othersErrors">
        {{ artwork.othersErrors }}
      </div>
    </div>
  </div>

  <div class="card_right" *ngIf="!isDoubleCard">
    <app-quantity
      [artwork]="artwork"
      [isDisabled]="!isUnlimited"
      [isAbilityToIncreaseQuontity]="isAbilityToIncreaseQuontity"
      (changeQuantityEvent)="onChangeQuantity($event)"
      (deleteEvent)="deleteArtwork()"></app-quantity>
  </div>

  <button *ngIf="isDoubleCard" class="btn circle circle-red" (click)="deleteArtwork()">
    <img src="./assets/images/icons/trash-red.svg" alt="Delete" />
  </button>
</div>